/* @rem : 124.2rem;
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, b, u, i, dl, dt, dd, ol, ul, li, form, label, table, tbody, thead, tr, th, td,menu{
  margin: 0;
  padding: 0;
  border: 0;
}
ol, ul,menu{
  list-style: none;
 }
img {
  vertical-align: top;
  border: 0;
 }
 a{
    text-decoration: none;
 }

#head{
    position: fixed;
    width:1241/@rem;
    height: 370/@rem;
    // overflow:hidden;
    .mod_head{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:1181/@rem;
        padding: 0 30/@rem 0 30/@rem;
        height:140/@rem;
        background-color: #df3031;
        .head_live{
            width: 104/@rem;
            height: 70/@rem;
            background:url('./img/bg.png') no-repeat 0 0;
        }
        .head_logo{
            width: 300/@rem;
            height:140/@rem;
            background:url('./img/bg.png') no-repeat 0 -68px;
        }
        .head_search{
            width:100/@rem;
            height:140/@rem;
            background:url('./img/bg.png') no-repeat 0 -195px;
        }
    }
    .head_menu{
        width:1000%;
        height:120/@rem;
        padding:0 100/@rem 0 50/@rem;
        position: relative;
        left:0px;

        li{
            float: left;
            display:flex;
            justify-content: center;
            align-items: center;
            width:130/@rem;
            height:120/@rem;
            text-align: center;
            margin:0 30/@rem 0 20/@rem;
            .bigFont{
                    font-size: 50/@rem;
                    color:red;
                    line-height: 130/@rem;
            }
            a{
                font-family:"微软雅黑";
                font-size:40/@rem;
                color:#ccc;
            }
        }

    }
    .mod_show{
        position:absolute;
        width:50/@rem;
        height:120/@rem;
        background-color: #fff;
        left:0;
        top:140/@rem;
        &:after{
            content:'';
            display: block;
            width:30/@rem;
            height:120/@rem;
            position:absolute;
            left:45/@rem;
            background-color:rgba(255,255,255,.7);
        }
    }
    .add_title{
                width:120/@rem;
                height:120/@rem;
                position:absolute;
                left:1121/@rem;
                top:140/@rem;
                background-color: #fff;
                font-size:80/@rem;
                line-height:120/@rem;
                color:#ccc;
                &:before{
                    content:'';
                    display: block;
                    width:80/@rem;
                    height:120/@rem;
                    position:absolute;
                    left:-80/@rem;
                    background-color:rgba(255,255,255,.7);
                }
        }
} */